trunk/Paradise5/Paradise5/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10511/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Paradise5.Web" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="LoginResult" nillable="true" type="q1:ArrayOftblSC_Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Checklogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckloginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckloginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewMN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Langgue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewMNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="ViewMNResult" nillable="true" type="q2:ArrayOfViewMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="FindNVResult" nillable="true" type="q3:ArrayOfsp_EmployeeIDListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="danhsachtheocagiolam">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="danhsachtheocagiolamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="danhsachtheocagiolamResult" nillable="true" type="q4:ArrayOftblDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTimeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element minOccurs="0" name="depID" type="xs:int" />
        <xs:element minOccurs="0" name="secID" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="empID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomal" type="xs:boolean" />
        <xs:element minOccurs="0" name="noIn" type="xs:boolean" />
        <xs:element minOccurs="0" name="noOut" type="xs:boolean" />
        <xs:element minOccurs="0" name="noInNoOut" type="xs:boolean" />
        <xs:element minOccurs="0" name="wordOnHolyday" type="xs:boolean" />
        <xs:element minOccurs="0" name="leave" type="xs:boolean" />
        <xs:element minOccurs="0" name="holyday" type="xs:boolean" />
        <xs:element minOccurs="0" name="logID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTimeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="CheckTimeListResult" nillable="true" type="q5:ArrayOftmpCheckTimeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColDepartmentCodelist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ColDepartmentCodelistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="ColDepartmentCodelistResult" nillable="true" type="q6:ArrayOftblDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColSectionCodelist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ColSectionCodelistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="ColSectionCodelistResult" nillable="true" type="q7:ArrayOftblSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColGroupCodelist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ColGroupCodelistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="ColGroupCodelistResult" nillable="true" type="q8:ArrayOftblGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectdanhsach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="depID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectdanhsachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="selectdanhsachResult" nillable="true" type="q9:ArrayOftblSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChartData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChartDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="ChartDataResult" nillable="true" type="q10:ArrayOfChartView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongbao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongbaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Paradise5.Web" minOccurs="0" name="GetThongbaoResult" nillable="true" type="q11:ArrayOftblAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuThongBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tieude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noidungtam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capnhat" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuThongBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LuuThongBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongBaoDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tieude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongBaoDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetThongBaoDonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>